<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
            href="{{ url_for('static', filename='styles.css') }}">
        <title>Meine Website</title>
    </head>
    <body>
        <div class='container'>
            <h1>Ausrüstungsliste für TWW Season 1</h1>
            <form action="/submit" method="post">
                {% for item in items %}
                <div class="slot-container">
                    <label for="Slot_{{ loop.index }}">{{ item }}:</label>
                    <input type="text" id="Slot_{{ loop.index }}"
                        name="Item_{{ loop.index }}" required>
                    <div class="zweiteslabel">Quelle</div>
                </div>
                {% endfor %}
                <button type="submit" class="submit-button">refresh</button>
            </form>
        </div>
    </body>
</html>
