<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
            href="{{ url_for('static', filename='styles.css') }}">
        <title>Ausrüstungsliste für TWW Season 1</title>
    </head>
    <body>
        <div class='container'>
            <h1>Ausrüstungsliste für TWW Season 1</h1>
            <form action="/submit" method="post">
                <div class="header-container">
                    <h3 class="header-slot">ITEM</h3>
                    <h3 class="header-quelle">QUELLE</h3>
                </div>
                {% for item in items %}
                <div class="slot-container">
                    <label for="Slot_{{ loop.index }}">{{ item[0] }}:</label>
                    <input type="text" id="Slot_{{ loop.index }}"
                        name="Slot_{{ loop.index }}"
                        placeholder="Neue Quelle eingeben">
                    <div class="zweiteslabel">{{ item[1] }}</div>
                </div>
                {% endfor %}
                <button type="submit"
                    class="submit-button">Aktualisieren</button>
            </form>
        </div>
    </body>
</html>
